*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
}

.products img{
    width: 200px;
    height: 200px;
}

